$Drama: #d32f2f;
$Gray2: #222222;
$Grass: #45bc00;
$Gray9: #999999;
$GrayA: #aaaaaa;
$GrayD: #dddddd;
$GrayE: #eeeeee;
$GrayF5: #f5f5f5;
$BrightBlue: #0db6ff;
$white-purple: #d4c1e6;
$easter-purple: #c57fff;
$purpley: #9d55d9;
$Purple: #7a48a3;
$LightPurple: #a863e0;
$ActionPress: #592c82;
$purply: #7a3db3;
$GrayPurple: #dbcfe6;
$VeryLightPurple: #eed9ff;
$TraxGreen: #d2db2f;
$DarkTraxGreen: #bac229;
$VeryBrightTraxGreen: #f5f7d2;
$Gray7: #777777;
$Blue: #0a92cc;
$WhitePurple: #f9f2ff;
$DarkPurple: #582c7d;
$white: #ffffff;
$white-50: #ffffff47;
$warm-grey: #888888;
$pinkish-grey: #cccccc;
$pumpkin-orange: #ff8100;
$bright-orange: #ff5500;
$light-khaki: #f6f8d5;
$black: #000000;
$black-90: #00000047;
$blueberry: #623a82;
$deep-lavender: #7e52a2;
$sick-green: #aeb627;
$aqua-marine: #2fcbdb;
$bright-orange-20: #ff5500;
$greyish-brown-two: #444444;
$orange: #fc6e02;
$pale-salmon-90: #ffaaaa;
$black-two: #333333;
$light-khaki-90: #f6f8d5;
$white-90: #ffffff;
$white-80: #ffffff;
$hospital-green-90: #aceaaf;
$pale-grey: #efebf3;
$warm-grey-10: #888888;
$scarlet: #cf000f;
$red-brown: #96281b;
$warm-grey-two: #979797;
$pale-grey-two: #eadff3;
$greyish-brown-three: #434343;
$white-two: #f8f8f8;
$greyish-brown: #555555;
$squash: #f5a623;
$brownish-grey: #666666;

